{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
    "objectLiteralShorthandMethods": true
  },
  "rules": {
    "strict": 0,
    "quotes": [1, "single"],
    "comma-spacing": 0
  }
}